.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0dddf;
  gap: 60px;
}

.image-side {
  position: relative;
}

.frame-container {
  display: flex;
  gap: 50px;
}

.leftframe {
  width: 350px;
  height: auto;
}
.rightframe {
  width: 300px;
  height: auto;
  transform: rotate(7deg);
}
