.text {
  font-size: 1.4rem; /* 글자 크기 */
  font-weight: bold; /* 글자 굵기 */
  text-align: center; /* 텍스트 가운데 정렬 */
  color: #333; /* 다크 그레이 컬러 */
  line-height: 0.5; /* 줄 간격 조정 */
  white-space: pre-line; /* \n을 줄바꿈으로 인식 */
  margin-bottom: 20px; /* 버튼과의 간격 */
}
